/* CSS */
.apple-pay-button-with-text {
    --apple-pay-scale: 1; /* (height / 32) */
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
    border: 0;
    min-height: 40px;
}

.apple-pay-button-black-with-text {
    background-color: black;
    color: white;
}

.apple-pay-button-white-with-text {
    background-color: white;
    color: black;
}

.apple-pay-button-white-with-line-with-text {
    background-color: white;
    color: black;
    border: .5px solid black;
}

.apple-pay-button-with-text.apple-pay-button-black-with-text > .ap-logo {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
}

.apple-pay-button-with-text.apple-pay-button-white-with-text > .ap-logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
}

.apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .ap-logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
}

.apple-pay-button-with-text > .text {
    font-family: -apple-system;
    font-size: 12px;
    font-weight: 300;
    align-self: center;
    margin-right: calc(2px * var(--apple-pay-scale));
    vertical-align: middle;
}

.apple-pay-button-with-text > .ap-logo {
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-left: calc(4px * var(--apple-pay-scale));
    border: none;
    width: 42px;
    height: 34px;
    vertical-align: middle;
    display:inline-block;
}

.apple-pay-loading-overlay {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.apple-pay-loading-overlay.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    background-size: 64px 64px;
    z-index: 10001;
    opacity: 1;
    visibility: visible;
}
.apple-pay-loading-overlay .ball-scale-ripple-multiple {
    position: absolute;
    left: 50%;
    top: 50%;
}

@-webkit-keyframes ball-scale-ripple-multiple {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1; }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7; }
    100% {
        opacity: 0.0; } }

@keyframes ball-scale-ripple-multiple {
    0% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 1; }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.7; }
    100% {
        opacity: 0.0; } }

.ball-scale-ripple-multiple {
    position: relative;
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px); }
.ball-scale-ripple-multiple > div:nth-child(0) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.ball-scale-ripple-multiple > div:nth-child(1) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.ball-scale-ripple-multiple > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.ball-scale-ripple-multiple > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.ball-scale-ripple-multiple > div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: -2px;
    left: -33px;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}

/* If the element contains an Apple Pay express button don't force the buttons to width 100% */
.product-view .add-to-cart-buttons.braintree-applepay-express-container .button {
    width: auto;
}

.product-view .add-to-cart-buttons.braintree-applepay-express-container .button + .apple-pay-button-with-text {
    margin-left: 5px;
}

ul.checkout-types .braintree-applepay-express-container .apple-pay-button-with-text {
    height: 33px;
    min-height: 33px;
}

@media (max-width: 450px) {
    .product-view .add-to-cart-buttons.braintree-applepay-express-container {
        width: 100%;
    }
    .product-view .add-to-cart-buttons.braintree-applepay-express-container .button {
        width: 100%;
    }
    .product-view .add-to-cart-buttons.braintree-applepay-express-container .apple-pay-button-with-text {
        width: 100%;
        margin-bottom: 10px;
    }
    .product-view .add-to-cart-buttons.braintree-applepay-express-container .button + .apple-pay-button-with-text {
        margin-left: 0;
    }
    ul.checkout-types .braintree-applepay-express-container .apple-pay-button-with-text {
        width: 100%;
        height: 40px;
        min-height: 40px;
    }
}

.applepay-info-header {
    font-weight:bold;
    padding: 3px 0;
    text-align: left;
}
.applepay-info {
    padding: 3px 0;
}